.wrapper {
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e2eaea;
  animation-name: load;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.table-wrapper {
  float: left;
  height: 100%;
  width: 100%;
  position: relative;

  .cover {
    animation-name: cover;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
  }

  @keyframes cover {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }

  .user-edit {
    animation-name: user-edit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    background-color: white;
  }

  @keyframes user-edit {
    0% {
      width: 0;
      height: 100%;
    }
    50% {
      width: 0;
      height: 100%;
    }
    100% {
      width: 700px;
      height: 100%;
    }
  }

  .table-content-wrapper {
    float: left;
    height: calc(100% - 110px);
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .header-wrapper {
    float: left;
    width: 100%;
    height: 51px;
    position: relative;
  }

  .paginator-wrapper {
    float: left;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 58px;

    .half {
      float: left;
      width: 50%;
      background-color: white;
      height: 100%;

      .icon {
        float: left;
        width: 40px;
        height: 100px;
        cursor: pointer;

        &:hover {
          svg {
            transform: scale(1.1);
          }
        }

        svg {
          transition: all 0.3s ease;
          fill: #52a5a8;
          width: 34px;
          height: 34px;
          margin-top: 12px;
          margin-left: 14px;
        }
      }
    }
  }

  .table-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100%;

    th, td {
      width: (100% / 6);
    }

    thead {
      text-transform: uppercase;
      font-weight: bold;

      tr {
        top: 0;
        left: 0;
        position: absolute;
        border-bottom: 1px solid lightgray;

        th {
          transition: all 0.1s ease;
          padding: 16px;
          color: #404040;
          text-decoration: underline;
          position: relative;

          &:hover {
            cursor: pointer;
            background-color: #dae2e2;
            div {
              .fa {
              }
            }
          }

          div {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 40px;

            text-align: center;

            div {
              height: 50%;
              width: 100%;
              position: relative;

              .fa-caret-up {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-top: 8px;
              }

              .fa-caret-down {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-bottom: -3px;
              }

              .active-caret {
                color: #428184 !important;
              }
            }
          }
        }
      }
    }

    tbody {
      text-transform: uppercase;
      font-weight: bold;

      tr {
        border-bottom: 1px solid lightgray;

        td {
          transition: all 0.1s ease;
          padding: 16px;
          color: #404040;

          position: relative;

          &:hover {
            cursor: pointer;
            background-color: #dae2e2;
            text-decoration: underline;
            div {
              .fa {
              }
            }
          }

          div {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 40px;

            text-align: center;

            div {
              height: 50%;
              width: 100%;
              position: relative;

              .fa-caret-up {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-top: 8px;
              }

              .fa-caret-down {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-bottom: -3px;
              }

              .active-caret {
                color: #428184 !important;
              }
            }
          }
        }
      }
    }
  }

  .table-body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100%;
    user-select: none;

    th, td {
      width: (100% / 6);
    }

    thead {
      text-transform: uppercase;
      font-weight: bold;

      tr {
        top: 0;
        left: 0;
        position: absolute;
        border-bottom: 1px solid lightgray;

        th {
          transition: all 0.1s ease;
          padding: 16px;
          color: #404040;
          text-decoration: underline;
          position: relative;

          &:hover {
            cursor: pointer;
            background-color: #dae2e2;
            div {
              .fa {
              }
            }
          }

          div {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 40px;

            text-align: center;

            div {
              height: 50%;
              width: 100%;
              position: relative;

              .fa-caret-up {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-top: 8px;
              }

              .fa-caret-down {
                transition: all 0.1s ease;
                font-size: 18px;
                color: #a6a6a6;
                margin-bottom: -3px;
              }

              .active-caret {
                color: #428184 !important;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid lightgray;

        &:nth-child(even) {
          background-color: #f9f9f9;
          td {
            background-color: #f9f9f9;
          }
        }

        &:hover {
          background-color: #ececec;
          cursor: pointer;
          td {
            background-color: #ececec;
          }
        }

        td {
          transition: all 0.1s ease;
          padding: 16px;
          color: #636363;
          font-weight: 400;

          span {

            mat-icon {
              padding-top: 4px;
            }
          }
        }
      }
    }
  }
}


