<div class="wrapper">

  <div class="table-wrapper">
    <div class="paginator-wrapper">
      <div class="half">
        actions
      </div>
      <div class="half">
        <mat-paginator [length]="[(total)]"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 20, 40, 80, 100]"
                        (page)="paginator($event);">
        </mat-paginator>
      </div>
    </div>
    <div class="header-wrapper">
      <table id="table-h">
        <thead>
        <tr>
          <th (click)="sort('surname')">
            ФИО
            <div>
              <i *ngIf="column !== 'surname'" class="fa fa-arrows-v"></i>
              <i *ngIf="column === 'surname' && dir === 'asc'" class="fa fa-long-arrow-up"></i>
              <i *ngIf="column === 'surname' && dir === 'desc'" class="fa fa-long-arrow-down"></i>
            </div>
          </th>
          <th (click)="sort('email')">
            ПОЧТА
            <div>
              <i *ngIf="column !== 'email'" class="fa fa-arrows-v"></i>
              <i *ngIf="column === 'email' && dir === 'asc'" class="fa fa-long-arrow-up"></i>
              <i *ngIf="column === 'email' && dir === 'desc'" class="fa fa-long-arrow-down"></i>
            </div>
          </th>
          <th (click)="sort('enabled')">
            АКТИВЕН
            <div>
              <i *ngIf="column !== 'enabled'" class="fa fa-arrows-v"></i>
              <i *ngIf="column === 'enabled' && dir === 'asc'" class="fa fa-long-arrow-up"></i>
              <i *ngIf="column === 'enabled' && dir === 'desc'" class="fa fa-long-arrow-down"></i>
            </div>
          </th>
          <th (click)="sort('phone')">
            ТЕЛЕФОН
            <div>
              <i *ngIf="column !== 'phone'" class="fa fa-arrows-v"></i>
              <i *ngIf="column === 'phone' && dir === 'asc'" class="fa fa-long-arrow-up"></i>
              <i *ngIf="column === 'phone' && dir === 'desc'" class="fa fa-long-arrow-down"></i>
            </div>
          </th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="table-content-wrapper">

      <perfect-scrollbar>
        <table (window:resize)="onResize($event)" id="table-c">
          <tbody>
          <tr *ngFor="let user of users, let i = index">
            <td class="col-sm-4">
              {{user.surname + ' ' + user.name}}
              <br>
              {{user.patronymic}}
            </td>
            <td class="col-sm-3">
              {{user.email}}
            </td>
            <td class="col-sm-2">
              {{user.enabled}}
            </td>
            <td class="col-sm-3">
              {{user.phone}}
            </td>
          </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>

</div>
