<div class="wrapper">
  <div class="header">
    <ng-container *ngIf="userId.length > 0">Редактирование пользователя</ng-container>
    <ng-container *ngIf="userId.length === 0">Новый пользователь</ng-container>
    <mat-icon (click)="closeForm();">close</mat-icon>
  </div>
  <div class="content">
    <perfect-scrollbar>
      <form>
        <mat-form-field>
          <input required matInput placeholder="Имя">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Фамилия">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Отчество">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Электронная почта">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Телефон">
        </mat-form-field>

        <mat-form-field>
          <input required matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select required="" placeholder="Отдел" [(ngModel)] = "selectedDepartments" [ngModelOptions]="{standalone: true}" multiple>
            <mat-option *ngFor="let department of departments" value="department">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select required placeholder="Роли" [(ngModel)] = "selectedAuthorities" [ngModelOptions]="{standalone: true}" multiple>
            <mat-option *ngFor="let authority of authorities">
              {{authority.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </perfect-scrollbar>
  </div>
</div>
