<div class="wrapper">
  <div class="header">
    <ng-container *ngIf="userId.length > 0">Редактирование пользователя</ng-container>
    <ng-container *ngIf="userId.length === 0">Новый пользователь</ng-container>
    <mat-icon (click)="closeForm();">close</mat-icon>
  </div>
  <div class="content">
    <perfect-scrollbar>
      <form>
        <mat-form-field>
          <input required matInput placeholder="Имя" [(ngModel)] = "user.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Фамилия" [(ngModel)] = "user.surname" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Отчество" [(ngModel)] = "user.patronymic" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Электронная почта" [(ngModel)] = "user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input required matInput placeholder="Телефон" [(ngModel)] = "user.phone" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input required matInput [matDatepicker]="picker" placeholder="Дата рождения" [(ngModel)] = "user.birthDate" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select required="" placeholder="Отдел" [(ngModel)] = "selectedDepartments" [ngModelOptions]="{standalone: true}" multiple [compareWith]="compareFn">
            <mat-option *ngFor="let department of departments" [value]="department">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select required placeholder="Роли" [(ngModel)] = "selectedAuthorities" [ngModelOptions]="{standalone: true}" multiple [compareWith]="compareFn">
            <mat-option *ngFor="let authority of authorities"  [value]="authority">
              {{authority.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </perfect-scrollbar>
  </div>
  <div class="footer">
    <button mat-button (click)="save();">Сохранить</button>
    <button mat-button (click)="closeForm();">Назад к списку</button>
  </div>
</div>
